# system
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example

# node
node_modules/
.pnpm-store/
dist/
build/
.next/
out/
coverage/

# local uploads
.suqnaa-media/

# flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
*.iml
android/.gradle/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# editor
.idea/
.vscode/

# logs
*.log
