.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android local/signing material
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS generated/signing material
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/Signing.xcconfig
*.p12
*.mobileprovision

# IDE files
.idea/
*.iml
.vscode/
